name: ktlint

ktlintCheck:
  steps:
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: zulu
    - name: Run KtLint check
      run: ./gradlew ktlintCheck